.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-form {
  border: 1px solid gray;
  padding: 60px;
  background-color: grey;
  /* color: white; */
}

body,
button {
  background-color: rgb(16, 34, 98);
}

.click-link {
  color: black;
  margin-top: 30px;
  display: inline-block;
}

h3 {
  font-weight: bold;
  margin-bottom: 24px;
}

button {
  /* margin-top: 24px; */
  color: black;
}
